src/main/app/myfirstmuleexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <sub-flow name="chiamataWS_Sub_Flow">
        <cxf:jaxws-client operation="checkCodeNumber" serviceClass="com.myws.EntryPointWsInterface" doc:name="CXF"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/myfirstmuleexample" method="POST" doc:name="HTTP"/>
    </sub-flow>
    <flow name="main_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/startMuleExample" doc:name="HTTP"/>
        <logger message="path: #[message.inboundProperties.'http.request.uri']" level="INFO" doc:name="Logger"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.get('codiceCliente')]" doc:name="Set Payload"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="chiamataWS_Sub_Flow" doc:name="chiamataWS_Sub_Flow"/>
        <response>
            <choice doc:name="Choice">
                <when expression="#[payload==null]">
                    <logger message="ERRORE : UTENTE NON TROVATO" level="INFO" doc:name="Logger"/>
                </when>
                <when expression="#[payload!=null]">
                    <logger message="UTENTE TROVATO #[payload]" level="INFO" doc:name="Logger"/>
                    <object-to-string-transformer doc:name="Object to String"/>
                </when>
            </choice>
        </response>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <response>
            <json:json-to-object-transformer returnClass="com.myws.utils.JsonPojoClazz" doc:name="JSON to Object"/>
        </response>
    </flow>
    <flow name="myfirstmuleexampleFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/myfirstmuleexample" doc:name="HTTP"/>
        <cxf:jaxws-service service="EntryPointWsInterface" serviceClass="com.myws.EntryPointWsInterface" validationEnabled="true" doc:name="CXF"/>
        <component class="com.myws.EntryPointImpl" doc:name="Java"/>
    </flow>
</mule>
